<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pl"><head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body style="color:#01497e">
        <h2>Wypełniono formularz kontaktowy ze strony matrus.pl</h2>
        <p>Nadawca:  <strong>{{formData['name']}}</strong></p>
        <p>Email:  <strong>{{formData['email']}}</strong></p>
        <p>Temat:  <strong>{{formData['title']}}</strong></p>
        <p>Treść wiadomości</p>
        <p><strong>{{formData['message']}}</strong></p>
        <hr/>
    </body>
</html>